/*GENERAL*/
a{
   text-decoration: none;
}
a:hover{
    text-decoration: none;
}
li{
    display: inline-block;
}
/* Shortcuts */
.pd-0{
	padding: 0;
}
.pt-2{
	padding-top: 2%;
}
.pd-3{
	padding: 3%;
}
.pt-3{
	padding-top: 3%;
}
.pr-3{
	padding-right: 3%;
}
.pb-3{
	padding-bottom: 3%;
}
.pl-3{
	padding-left: 3%;
}
.pd-5 {
	padding: 5%;
}
.pd-10 {
	padding: 10%;
}
.pt-5{
	padding-top: 5%;
}
.pb-5{
	padding-bottom: 5%;
}
.pl-5{
	padding-left: 5%;
}
.pr-5{
	padding-right: 5%;
}
.mg-0{
	margin: 0%;
}
.mb-1{
	margin-bottom: 1%;
}
.mg-3{
	margin:3%;
}
.mt-3{
	margin-top: 3%;
}
.mr-3{
	margin-right: 3%;
}
.mb-3{
	margin-bottom: 3%;
}
.ml-3{
	margin-left: 3%;
}
.mg-5{
	margin: 5%;
}
.mt-5{
	margin-top: 5%;
}
.mb-5{
	margin-bottom: 5%;
}
.mr-5{
	margin-right: 5%;
}
.ml-5{
	margin-left: 5%;
}
.w-100{
	width: 100%;
}
.lh{
	line-height: 1.5;
}
.text-center{
	text-align: center;
}
.text-left{
	text-align: left;
}
.text-right{
	text-align: right;
}
/*TEXTO*/
.white{
	color: white;
}
.gray{
	color: #888;
}
.black{
    color: black;
}
*{
	background-size: cover;
	background-repeat: no-repeat;
	background-position: center;
}
.pull-left {
	float: left;
}

.pull-right {
	float: right;
}