*{
	font-family: 'Dosis', sans-serif;
}
.opensans{
	font-family: 'Open Sans', sans-serif;
}
a{
	text-decoration: none;
}
img{
	width: 100%;
}
button, input{
	border: none;
}
.fgris{
	background-color: rgb(37, 37, 37);
}
.text-pink{
	color: rgb(255, 0, 128);
}
.text-purple{
	color: rgb(145, 146, 176);
}
.text-grisf{
	color: #6C6475;
}
.bg-pink
{
	background-color: rgb(255, 0, 128);
}
.bg-white{
	background-color: #F5F7F8;
}
.pd-2{
	padding: 2%;
}
.pd-3{
	padding: 3%;
}
.mt-5{
	margin-top: 5%;
}
.bgris{
	background-color: #6C6475;
}