/*HEADER*/
li, .enlinea, .quote{
	display: inline;
}
 a:hover{
	color: #CE265B;
}
.bround{
	border-radius: 20%;
}
/*SECTION*/
#loadmore{
	margin-left: 50%;
}
#twitterimg{
	display: block;
	margin: auto;
	width: 50%;
}
section img {
	-webkit-filter: grayscale(0.5) hue-rotate(60deg);
}
/*FOOTER*/
.linebottom{
	border-bottom: 1px solid #2E2B35;
}
.linebottomslash{
	border-bottom: 1px dashed #AEACB6;
}
input{
	background-color: #1D1A20;
}
#iconcircle a{
	border: 1px dashed #4C4853;
	padding: 1.5%;
	border-radius: 50%;
	margin: 1px;
}
.pb-10{
	padding-bottom: 10px;
}
.bsquare{
	border-radius: 20%;
}
