/*GENERAL*/
.mt-1{
    margin-top: 1%;
}
.pd-1{
    padding: 1%;
}
hr{
    width: 25%
}
/*TEXT*/
* {
    font-family: 'Roboto', sans-serif;
}
.gray{
    color: #9BC9B6;
}
.orange{
    color: #CA6F1E;
}
/*BACKGROUNDS*/
.bggreen{
    background-color: #26AD5F;
}
.bggrayf{
    background-color: #2D3E50;
}
.bgbrown{
    background-color: #8F6037;
}
.bgbrownf{
    background-color: #443D43;
}
.bgwhite{
    background-color: white;
}
#intro{
    background-image: url("../img/carousel-bg.jpg")
}
#socialm{
    background-image: url("../img/img-divider-img.jpg");
}
/*HEADER*/
.icon-bar{
    border: .3em solid white;
}
/*SECTIONS*/
/*ABOUT US*/
.progress-bar{
    background-color: #E77D22;
}
/*progress bars*/
.pb1{
    width: 90%;
}
.pb2{
    width: 85%;
}
.pb3{
    width: 60%;
}
.pb4{
    width: 70%;
}
.pb5{
    width: 80%;
}
/*WHAT WE DO*/
.weDo:hover{
    background-color: #297257;
}
.weDo h3:hover{
    color: #AA6931;
}
.whatwd{
    background-image: url("../img/icon-bg.png");
    background-color: #2D3E50;
}
.whatwd:hover{
    background-color: #AA6931;
    background-image: none;
    -webkit-transform: rotate(40deg);
    margin: 13%;
}
/*PRICE*/
.borderg{
    border: .1em solid #568248;
}
.prices:hover{
    border: .1em solid #E47E20;
}
/*COLOR PALETTE*/
.colors{
    height: 10em;
    width: 13em;
}
#pcolors .row{
    display: inline-block;
    margin-left: auto;
    margin-right: auto;
}
/*line1*/
#color1{
    background-color: #69D2E7;
}
#color2{
    background-color: #A7DADB;
}
#color3{
    background-color: #E1E3CF;
}
#color4{
    background-color: #F38631;
}
#color5{
    background-color: #F96800;
}
/*line2*/
#color6{
    background-color: #EA4C6F;
}
#color7{
    background-color: #552733;
}
#color8{
    background-color: #5A6962;
}
#color9{
    background-color: #C6D5CE;
}
#color10{
    background-color: #FDF200;
}
/*line3*/
#color11{
    background-color: #DB3340;
}
#color12{
    background-color: #E8B81A;
}
#color13{
    background-color: #F7EAC8;
}
#color14{
    background-color: #1FDA9B;
}
#color15{
    background-color: #28ABE3;
}
/*line4*/
#color16{
    background-color: #588D73;
}
#color17{
    background-color: #F2E394;
}
#color18{
    background-color: #F2AD72;
}
#color19{
    background-color: #D96559;
}
#color20{
    background-color: #8C4646;
}
/*line5*/
#color21{
    background-color: #D0C920;
}
#color22{
    background-color: #84C5B9;
}
#color23{
    background-color: #008BBA;
}
#color24{
    background-color: #DE514D;
}
#color25{
    background-color: #DB403B;
}